In [1]:
import pandas as pd
import os

# merging the months of data to one file

In [2]:
df=pd.read_csv("./Sales_Data/Sales_April_2019.csv")

In [3]:
files=[file for file in os.listdir('./Sales_Data')]
all_months_data=pd.DataFrame()
for file in files:
    df=pd.read_csv("./Sales_Data/"+file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data.to_csv("All_data.csv", index=False)

In [4]:
df=pd.read_csv("All_data.csv")
df.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

***add addititinal columns

In [5]:
df['Month']=df['Order Date'].str[0:2]

#clean the dat first

In [6]:
r_nan=df[df.isna().any(axis=1)]
df=df.dropna(how='all')

In [7]:
df=df[df['Order Date'].str[0:2] !='Or']
df['Month']=df['Month'].astype('int32')

# convert columns to the right type

In [8]:
##convert columns to the rigth dtype
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'])
df['Price Each']=pd.to_numeric(df['Price Each'])

In [9]:
df['Order Date'] = pd.to_datetime(df['Order Date'], infer_datetime_format=True)

In [10]:
##add a sale column
df['Sales']=df['Price Each']*df['Quantity Ordered']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",4,11.99

##what was the best month for sale and by how much

In [13]:
df.groupby('Month').sum()

C:\Users\B\AppData\Local\Temp\ipykernel_14780\428957301.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Month').sum()

       Quantity Ordered  Price Each       Sales
Month
1                 10903  1811768.38  1822256.73
2                 13449  2188884.72  2202022.42
3                 17005  2791207.83  2807100.38
4                 20558  3367671.02  3390670.24
5                 18667  3135125.13  3152606.75
6                 15253  2562025.61  2577802.26
7                 16072  2632539.56  2647775.76
8                 13448  2230345.42  2244467.88
9                 13109  2084992.09  2097560.13
10                22703  3715554.83  3736726.88
11                19798  3180600.68  3199603.20
12                28114  4588415.41  4613443.34

In [12]:
import matplotlib.pyplot as plt
months=range(1,13)

plt.bar(months,results['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USd')
plt.xlabel('Month number')
plt.show()

NameError: name 'results' is not defined

# what city has the highest number of sales

In [ ]:
df.head()

In [ ]:
## function to extract citey from adrres
def extract(addr):
    return addr.split(',')[1]

def extract2(addr):
    
    return addr.split(',')[2].split(' ')[1]

In [ ]:
df['City']=df['Purchase Address'].apply(lambda x:f"{extract(x)} ({extract2(x)})" )

In [ ]:
df.head()

In [ ]:
result=df.groupby('City')['Sales'].sum().reset_index()
result.head(20)

In [ ]:
cities=[city for city, df1 in df.groupby('City')]
plt.bar(cities, result['Sales'])
plt.xticks(cities,rotation='vertical')
plt.xlabel('City')
plt.ylabel('Total Sales')
plt.title('Total Sales by City')
plt.show()

# ###what time should we advertise the prods for max purchase

In [ ]:
df['Hour']=df['Order Date'].dt.hour

In [ ]:
df.head()

In [ ]:
hours=[hour for hour, df1 in df.groupby('Hour')]
plt.plot(hours, df.groupby(['Hour']).count())
plt.xticks(hours)
plt.xlabel('hours')
plt.ylabel('Total Count')
plt.title('Time for Advert')
plt.grid()
plt.show()

# what products are often sold together

In [ ]:
prod=

In [ ]:
df.head(40)